.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
    max-width: 100%;
}

.filmList{
    padding-left: 10px ;
}


.pontuacao{
    padding-left: 50px;
}
.timerCountDown{
    padding-left: 10px;   
}

.errou{
    color:red;
    display:none;
}

.logo{
    text-align:center;
}

.correto{
    color: #00FA9A  ;
}

.pontuacao{
    color: #1E90FF;
}

.ranking